*{
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    font-family: cursive;
}
.container{
    margin: auto auto;
}
.navbar{
height: auto;
background-color: rgba(239, 236, 236, 0.752);
border: 1px solid rgba(181, 181, 181, 0.758);
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
flex-wrap: wrap;
padding-top: 10px;
padding-bottom: 10px;
position: sticky;
width: 100%;
top: 0px;
left: 0px;

}
/* .navitem{
margin: auto 10px;
} */
.logo{
    height: 40px;
}
/* banner class k andar jo img tag ha uski baat ho rai ha */
.banner img{
width: 100%;
}

/* header end */
/* aboout section */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin:auto 10%
}
 .about-item img{
    width: 400px;
    margin-right: 40px;
 }